In [2]:
import mysql.connector
import csv
import pandas as pd

In [2]:
ls data

SeasonPlayerStats.csv   game.csv                team.csv
common_player_info.csv  officials.csv           team_details.csv

In [18]:
myConnection = mysql.connector.connect( user = 'root',
password = "",
host = 'localhost',
database = 'Basketball')
cursorObject = myConnection.cursor()

In [13]:
season_values = [] 

for i in range(1946, 2024):
    season_id = str(i) 
    season_values.append((season_id,))

season_insert_query = "INSERT INTO Season (Season_ID) VALUES (%s)"
cursorObject.executemany(season_insert_query, season_values)
myConnection.commit()

In [19]:
# Read data from team.csv
with open('data/team.csv', mode='r') as team_file:
    team_reader = csv.DictReader(team_file)
    team_values = []
    for team_row in team_reader:
        team_id = team_row['id']
        full_name = team_row['full_name']
        abbreviation = team_row['abbreviation']
        city = team_row['city']
        year_founded = int(float(team_row['year_founded']))
        team_values.append((team_id, full_name, abbreviation, city, year_founded))
     
# Insert the data into the Team table
team_insert_query = "INSERT INTO Team VALUES (%s, %s, %s, %s, %s)"  
cursorObject.executemany(team_insert_query, team_values)
myConnection.commit()

IntegrityError: 1062 (23000): Duplicate entry '1610612737' for key 'team.PRIMARY'

In [20]:
# Read data from officials.csv
with open('data/officials.csv', mode='r') as officials_file:
    officials_reader = csv.DictReader(officials_file)
    officials_values = []
    for row in officials_reader:
        official_id = int(row['official_id'])
        referee_name = f"{row['first_name']} {row['last_name']}"
        officials_values.append((official_id, referee_name))

# Insert the data into the Referees table
insert_officials_query = "INSERT INTO Referees VALUES (%s, %s)"
cursorObject.executemany(insert_officials_query, officials_values)
myConnection.commit()

IntegrityError: 1062 (23000): Duplicate entry '1165' for key 'referees.PRIMARY'

In [16]:
# Read data from game.csv
with open('data/game.csv', mode='r') as game_file:
    game_reader = csv.DictReader(game_file)
    game_values = []
    for row in game_reader:
        game_id = int(row['game_id'])
        season_id = int(row['season_id'])
        game_date = row['game_date']
        season_type = row['season_type']
        home_points = int(float(row['pts_home']))
        away_points = int(float(row['pts_away']))
        home_team_id = int(row['team_id_home'])
        away_team_id = int(row['team_id_away'])
        home_win = home_points > away_points
        game_values.append((game_id, season_id, game_date, season_type, home_points, away_points, home_team_id, away_team_id, home_win))

# Insert the data into the Games table
insert_games_query = "INSERT INTO Games VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
cursorObject.executemany(insert_games_query, game_values)
myConnection.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`basketball`.`games`, CONSTRAINT `games_ibfk_1` FOREIGN KEY (`Season_ID`) REFERENCES `season` (`Season_ID`))

In [26]:
# Read data from team_details.csv
with open('data/team_details.csv', mode='r') as team_details_file:
    team_details_reader = csv.DictReader(team_details_file)
    coaches_values = []
    coaches_ids = {}
    for row in team_details_reader:
        coach_name = row['headcoach']
        if coach_name:
            coach_id = hash(coach_name) % (10 ** 4)
            coaches_ids[coach_name] = coach_id
            coaches_values.append((coach_id, coach_name))

# Insert the data into the Coaches table
insert_coaches_query = "INSERT INTO Coaches VALUES (%s, %s)"
cursorObject.executemany(insert_coaches_query, coaches_values)
myConnection.commit()

In [37]:
seen = set()

# Read data from team_details.csv
with open('data/team_details.csv', mode='r') as team_details_file:
    team_details_reader = csv.DictReader(team_details_file)
    arenas_values = []
    arena_ids = {}
    abrev_to_arena_id = {}
    for row in team_details_reader:
        arena_id = hash(row['arena']) % (10 ** 4)
        arena_name = row['arena']
        arena_ids[arena_name] = arena_id
        abrev_to_arena_id[row['abbreviation']] = arena_id
        arena_capacity = int(float(row['arenacapacity'])) if row['arenacapacity'] else 0
        if arena_id not in seen:
            arenas_values.append((arena_id, arena_name, arena_capacity))
            seen.add(arena_id)

# Insert the data into the Arenas table
insert_arenas_query = "INSERT INTO Arenas VALUES (%s, %s, %s)"
cursorObject.executemany(insert_arenas_query, arenas_values)
myConnection.commit()

In [9]:
# Read data from common_player_info.csv
with open('data/common_player_info.csv', mode='r') as player_info_file:
    player_info_reader = csv.DictReader(player_info_file)
    player_values = []
    for row in player_info_reader:
        player_id = int(row['person_id'])
        first_name = row['first_name']
        last_name = row['last_name']
        full_name = f"{first_name} {last_name}"
        birth_date = row['birthdate']
        school = row['school']
        country = row['country']
        draft_year = row['draft_year']
        draft_round = row['draft_round']
        if draft_round == '':
            draft_round = None
        player_values.append((player_id, full_name, birth_date, school, country, draft_year, draft_round))

# Insert the data into the Players table
insert_players_query = "INSERT INTO Players VALUES (%s, %s, %s, %s, %s, %s, %s)"
cursorObject.executemany(insert_players_query, player_values)
myConnection.commit()

IntegrityError: 1048 (23000): Column 'Draft_Round' cannot be null

In [32]:
import pandas as pd

# Read data from SeasonPlayerStats.csv
playerseason = pd.read_csv('data/SeasonPlayerStats.csv')

# Function to extract the first year from SEASON_ID
def extract_first_year(season_id):
    return season_id.split('-')[0]

# Apply the function to the SEASON_ID column
playerseason['SEASON_ID'] = playerseason['SEASON_ID'].apply(extract_first_year)

# Filter out the 2023 season and select specific columns
cols = ['PLAYER_ID', 'SEASON_ID', 'TEAM_ID', 'PLAYER_AGE', 'GP', 'PTS', 'REB', 'AST', 'STL', 'BLK']
playerseason = playerseason.loc[playerseason['SEASON_ID'] != "2023"]
playerseason = playerseason.loc[:, cols]

# Handle missing values by filling them with a default value or dropping them
# Example: Filling NA values with 0
playerseason = playerseason.fillna(0)

# Define the data types for each column
dtype_dict = {
    'PLAYER_ID': 'int64',
    'SEASON_ID': 'str',
    'TEAM_ID': 'int64',
    'GP': 'int64',
    'AST': 'int64',
    'REB': 'int64',
    'STL': 'int64',
    'PTS': 'int64',
    'PLAYER_AGE': 'int64',
    'BLK': 'int64',
}

# Convert data types
playerseason = playerseason.astype(dtype_dict)

# Rename columns for clarity
playerseason = playerseason.rename(columns={
    'PLAYER_AGE': 'AGE',
    'GP': 'Games_Played',
    'PTS': 'Points',
    'REB': 'Rebounds',
    'STL': 'Steals',
    'BLK': 'Blocks',
    'AST': 'Assists'
})

# Query the Players table to get all valid PLAYER_IDs
select_players_query = "SELECT Player_ID FROM Players"
cursorObject.execute(select_players_query)
valid_player_ids = set(row[0] for row in cursorObject.fetchall())

# Query the Teams table to get all valid Team_IDS
select_teams_query = "SELECT Team_ID FROM Team"
cursorObject.execute(select_teams_query)
valid_teams_ids = set(row[0] for row in cursorObject.fetchall())

# Filter playerseason to only include rows with valid PLAYER_IDs
playerseason = playerseason[playerseason['PLAYER_ID'].isin(valid_player_ids)]

# Filter playerseason to only include rows with valid Team_IDs
playerseason = playerseason[playerseason['TEAM_ID'].isin(valid_teams_ids)]

# Insert the data into the PlayedSeasonWith table
cols = ['PLAYER_ID', 'SEASON_ID', 'TEAM_ID', 'AGE', 'Games_Played', 'Points', 'Rebounds', 'Assists', 'Steals', 'Blocks']
value_string = '%s, ' * len(cols)
value_string = value_string[:-2]
insert_games_query = f"INSERT INTO PlayedSeasonWith ({', '.join(cols)}) VALUES ({value_string})"
cursorObject.executemany(insert_games_query, playerseason.values.tolist())
myConnection.commit()

In [33]:
# Insert data into CoachesTeam Table
with open('data/team_details.csv', mode='r') as team_details_file:
    team_details_reader = csv.DictReader(team_details_file)
    coaches_team_values = []
    for row in team_details_reader:
        coach_id = coaches_ids[row['headcoach']] if row['headcoach'] else None
        team_id = int(row['team_id'])
        start_date = '2023-01-01'  # Placeholder date
        end_date = '2023-12-31'    # Placeholder date
        coaches_team_values.append((coach_id, team_id, start_date, end_date))

# insert_coaches_team_query = "INSERT INTO CoachesTeam VALUES (%s, %s, %s, %s)"
# cursorObject.executemany(insert_coaches_team_query, coaches_team_values)
# myConnection.commit()

NameError: name 'coaches_ids' is not defined

In [25]:
with open('data/team_details.csv', mode='r') as team_details_file:
    team_details_reader = csv.DictReader(team_details_file)
    home_venue_values = []
    for row in team_details_reader:
        team_id = int(row['team_id'])
        arena_id = arena_ids[(row['arena'])]  # Assuming 'arena' column contains Arena_ID
        home_venue_values.append((team_id, arena_id))

insert_home_venue_query = "INSERT INTO HomeVenue VALUES (%s, %s)"
cursorObject.executemany(insert_home_venue_query, home_venue_values)
myConnection.commit()

In [34]:
with open('data/officials.csv', mode='r') as officials_file:
    officials_reader = csv.DictReader(officials_file)
    officiates_values = []
    for row in officials_reader:
        game_id = int(row['game_id'])
        official_id = int(row['official_id'])
        jersey_number = int(row['jersey_num']) if row['jersey_num'] else None
        officiates_values.append((official_id, game_id, jersey_number))

insert_officiates_query = "INSERT INTO Officiates VALUES (%s, %s, %s)"
cursorObject.executemany(insert_officiates_query, officiates_values)
myConnection.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`basketball`.`officiates`, CONSTRAINT `officiates_ibfk_1` FOREIGN KEY (`Official_ID`) REFERENCES `referees` (`Official_ID`))

In [ ]:
# TODO: CoachedIn Table
# We don't currently have data on which games a given coach coaches in

In [40]:
# TODO: Look into this further as it is mostly returning None values as we dont know the arena

with open('data/game.csv', mode='r') as game_file:
    game_reader = csv.DictReader(game_file)
    takes_place_in_values = []
    for row in game_reader:
        game_id = int(row['game_id'])
        home_abrev = row['team_abbreviation_home']
        arena_id = abrev_to_arena_id[home_abrev] if home_abrev in abrev_to_arena_id else None
        takes_place_in_values.append((game_id, arena_id))

insert_takes_place_in_query = "INSERT INTO TakesPlaceIn VALUES (%s, %s)"
cursorObject.executemany(insert_takes_place_in_query, takes_place_in_values)
myConnection.commit()

[(24600001, None),
 (24600003, None),
 (24600002, None),
 (24600004, None),
 (24600005, None),
 (24600006, None),
 (24600007, None),
 (24600008, None),
 (24600009, None),
 (24600011, None),
 (24600012, None),
 (24600010, None),
 (24600013, None),
 (24600014, None),
 (24600015, None),
 (24600016, None),
 (24600017, None),
 (24600018, None),
 (24600020, None),
 (24600019, None),
 (24600022, None),
 (24600021, None),
 (24600024, None),
 (24600023, None),
 (24600025, None),
 (24600027, None),
 (24600029, None),
 (24600030, None),
 (24600026, None),
 (24600028, None),
 (24600031, None),
 (24600032, None),
 (24600033, None),
 (24600034, None),
 (24600035, None),
 (24600038, 245),
 (24600037, None),
 (24600036, None),
 (24600041, None),
 (24600039, None),
 (24600040, None),
 (24600042, None),
 (24600046, None),
 (24600045, 245),
 (24600043, None),
 (24600044, None),
 (24600048, None),
 (24600047, None),
 (24600049, None),
 (24600050, None),
 (24600053, None),
 (24600052, None),
 (24600051, None),
 (24600054, 245),
 (24600055, None),
 (24600056, None),
 (24600057, None),
 (24600058, None),
 (24600059, None),
 (24600060, None),
 (24600061, None),
 (24600064, None),
 (24600063, None),
 (24600065, 245),
 (24600062, None),
 (24600066, None),
 (24600067, None),
 (24600068, None),
 (24600069, None),
 (24600070, 245),
 (24600071, None),
 (24600072, None),
 (24600075, None),
 (24600074, None),
 (24600073, None),
 (24600076, None),
 (24600077, None),
 (24600080, None),
 (24600081, None),
 (24600078, None),
 (24600079, 245),
 (24600083, None),
 (24600082, None),
 (24600084, None),
 (24600086, None),
 (24600085, None),
 (24600088, None),
 (24600087, None),
 (24600089, 245),
 (24600091, None),
 (24600092, None),
 (24600090, None),
 (24600093, None),
 (24600096, 245),
 (24600094, None),
 (24600095, None),
 (24600099, None),
 (24600098, None),
 (24600097, None),
 (24600100, None),
 (24600101, None),
 (24600102, None),
 (24600103, None),
 (24600104, 245),
 (24600107, None),
 (24600106, None),
 (24600105, None),
 (24600108, None),
 (24600109, None),
 (24600110, 245),
 (24600111, None),
 (24600112, None),
 (24600113, None),
 (24600114, None),
 (24600115, None),
 (24600116, None),
 (24600117, None),
 (24600118, None),
 (24600119, None),
 (24600121, 245),
 (24600120, None),
 (24600124, None),
 (24600123, None),
 (24600122, None),
 (24600125, None),
 (24600126, None),
 (24600128, None),
 (24600127, None),
 (24600131, None),
 (24600130, None),
 (24600129, None),
 (24600132, None),
 (24600133, None),
 (24600134, None),
 (24600137, None),
 (24600136, 245),
 (24600135, None),
 (24600138, None),
 (24600141, None),
 (24600140, None),
 (24600139, None),
 (24600143, 245),
 (24600144, None),
 (24600145, None),
 (24600142, None),
 (24600148, None),
 (24600147, None),
 (24600146, None),
 (24600149, None),
 (24600150, None),
 (24600151, 245),
 (24600152, None),
 (24600153, None),
 (24600154, None),
 (24600155, None),
 (24600157, None),
 (24600156, None),
 (24600158, None),
 (24600159, None),
 (24600160, None),
 (24600161, None),
 (24600162, None),
 (24600163, None),
 (24600164, None),
 (24600165, 245),
 (24600166, None),
 (24600168, None),
 (24600167, None),
 (24600170, None),
 (24600169, None),
 (24600171, None),
 (24600172, None),
 (24600175, None),
 (24600174, 245),
 (24600173, None),
 (24600176, None),
 (24600178, None),
 (24600177, None),
 (24600179, None),
 (24600182, None),
 (24600180, 245),
 (24600181, None),
 (24600184, None),
 (24600183, None),
 (24600185, None),
 (24600186, None),
 (24600187, None),
 (24600188, None),
 (24600191, 245),
 (24600189, None),
 (24600190, None),
 (24600194, None),
 (24600192, None),
 (24600193, None),
 (24600195, None),
 (24600197, None),
 (24600198, None),
 (24600196, None),
 (24600201, None),
 (24600200, None),
 (24600199, None),
 (24600202, None),
 (24600203, None),
 (24600204, None),
 (24600207, None),
 (24600206, None),
 (24600205, None),
 (24600209, None),
 (24600210, None),
 (24600211, None),
 (24600208, None),
 (24600213, None),
 (24600214, None),
 (24600212, None),
 (24600215, None),
 (24600217, None),
 (24600216, None),
 (24600218, None),
 (24600220, None),
 (24600219, None),
 (24600223, None),
 (24600222, None),
 (24600221, None),
 (24600226, None),
 (24600225, None),
 (24600224, None),
 (24600227, None),
 (24600230, 245),
 (24600228, None),
 (24600229, None),
 (24600234, None),
 (24600232, None),
 (24600233, None),
 (24600231, None),
 (24600235, None),
 (24600236, None),
 (24600237, None),
 (24600240, None),
 (24600239, 245),
 (24600238, None),
 (24600242, None),
 (24600243, None),
 (24600241, None),
 (24600245, None),
 (24600244, None),
 (24600246, None),
 (24600248, 245),
 (24600247, None),
 (24600249, None),
 (24600252, None),
 (24600253, None),
 (24600250, None),
 (24600251, None),
 (24600254, None),
 (24600255, 245),
 (24600256, None),
 (24600257, None),
 (24600259, None),
 (24600261, None),
 (24600260, None),
 (24600258, None),
 (24600262, None),
 (24600263, None),
 (24600264, None),
 (24600267, None),
 (24600265, None),
 (24600266, 245),
 (24600268, None),
 (24600269, None),
 (24600270, None),
 (24600272, None),
 (24600271, None),
 (24600273, None),
 (24600274, 245),
 (24600275, None),
 (24600276, None),
 (24600278, None),
 (24600277, None),
 (24600279, None),
 (24600280, None),
 (24600283, None),
 (24600282, None),
 (24600281, 245),
 (24600284, None),
 (24600285, None),
 (24600287, None),
 (24600288, None),
 (24600286, None),
 (24600290, None),
 (24600289, None),
 (24600292, None),
 (24600293, None),
 (24600294, None),
 (24600291, None),
 (24600295, None),
 (24600296, 245),
 (24600297, None),
 (24600298, None),
 (24600299, None),
 (24600302, None),
 (24600300, None),
 (24600301, None),
 (24600303, 245),
 (24600305, None),
 (24600304, None),
 (24600307, None),
 (24600306, None),
 (24600308, None),
 (24600309, None),
 (24600310, None),
 (24600313, None),
 (24600312, 245),
 (24600311, None),
 (24600314, None),
 (24600315, None),
 (24600316, None),
 (24600317, None),
 (24600318, None),
 (24600319, None),
 (24600320, 245),
 (24600321, None),
 (24600322, None),
 (24600323, None),
 (24600324, None),
 (24600328, None),
 (24600327, None),
 (24600326, 245),
 (24600325, None),
 (24600329, None),
 (24600330, None),
 (24600331, None),
 (44601021, None),
 (44600221, 245),
 (44601011, None),
 (44600222, 245),
 (44601012, None),
 (44601022, None),
 (44601013, None),
 (44600223, None),
 (44601023, None),
 (44600224, 245),
 (44600211, None),
 (44600225, None),
 (44600226, None),
 (44600212, None),
 (44600411, None),
 (44600412, None),
 (44600413, None),
 (44600414, None),
 (44600415, None),
 (24700001, 245),
 (24700003, None),
 (24700005, None),
 (24700002, None),
 (24700004, None),
 (24700006, None),
 (24700008, None),
 (24700010, None),
 (24700009, None),
 (24700007, None),
 (24700011, None),
 (24700012, None),
 (24700014, None),
 (24700013, 245),
 (24700016, None),
 (24700018, None),
 (24700015, None),
 (24700017, None),
 (24700019, None),
 (24700023, None),
 (24700020, None),
 (24700021, None),
 (24700022, None),
 (24700024, None),
 (24700025, 245),
 (24700026, None),
 (24700028, None),
 (24700027, None),
 (24700030, None),
 (24700029, None),
 (24700032, None),
 (24700031, 245),
 (24700033, None),
 (24700035, None),
 (24700034, None),
 (24700036, None),
 (24700037, None),
 (24700038, None),
 (24700039, None),
 (24700041, None),
 (24700040, None),
 (24700042, None),
 (24700043, None),
 (24700044, None),
 (24700046, None),
 (24700045, None),
 (24700048, None),
 (24700047, None),
 (24700049, 245),
 (24700050, None),
 (24700051, None),
 (24700053, 245),
 (24700052, None),
 (24700055, None),
 (24700054, None),
 (24700056, None),
 (24700057, None),
 (24700059, None),
 (24700058, None),
 (24700060, 245),
 (24700061, None),
 (24700062, None),
 (24700063, None),
 (24700064, None),
 (24700065, None),
 (24700066, None),
 (24700067, None),
 (24700069, None),
 (24700070, None),
 (24700068, 245),
 (24700071, None),
 (24700073, None),
 (24700072, None),
 (24700075, None),
 (24700074, None),
 (24700076, None),
 (24700078, None),
 (24700079, 245),
 (24700077, None),
 (24700080, None),
 (24700081, None),
 (24700082, None),
 (24700084, None),
 (24700083, None),
 (24700085, None),
 (24700087, None),
 (24700086, 245),
 (24700088, None),
 (24700090, None),
 (24700089, None),
 (24700091, 245),
 (24700093, None),
 (24700092, None),
 (24700095, None),
 (24700094, None),
 (24700097, 245),
 (24700096, None),
 (24700098, None),
 (24700099, None),
 (24700100, None),
 (24700101, None),
 (24700102, 245),
 (24700105, None),
 (24700103, None),
 (24700104, None),
 (24700106, None),
 (24700107, 245),
 (24700108, None),
 (24700109, None),
 (24700110, None),
 (24700111, None),
 (24700112, None),
 (24700113, None),
 (24700115, None),
 (24700114, None),
 (24700116, None),
 (24700117, None),
 (24700121, 245),
 (24700120, None),
 (24700118, None),
 (24700119, None),
 (24700122, None),
 (24700123, None),
 (24700125, None),
 (24700124, 245),
 (24700127, None),
 (24700126, None),
 (24700128, None),
 (24700129, None),
 (24700130, None),
 (24700131, None),
 (24700133, None),
 (24700132, None),
 (24700134, 245),
 (24700135, None),
 (24700136, None),
 (24700138, None),
 (24700137, None),
 (24700139, None),
 (24700140, None),
 (24700142, None),
 (24700141, 245),
 (24700144, None),
 (24700143, None),
 (24700145, 245),
 (24700147, None),
 (24700149, None),
 (24700148, None),
 (24700146, None),
 (24700151, 245),
 (24700150, None),
 (24700152, None),
 (24700153, None),
 (24700154, None),
 (24700155, 245),
 (24700158, None),
 (24700156, None),
 (24700157, None),
 (24700159, None),
 (24700162, None),
 (24700161, None),
 (24700160, None),
 (24700163, None),
 (24700164, None),
 (24700165, None),
 (24700166, None),
 (24700167, None),
 (24700168, None),
 (24700170, None),
 (24700169, None),
 (24700171, None),
 (24700172, None),
 (24700173, None),
 (24700175, 245),
 (24700174, None),
 (24700176, None),
 (24700177, None),
 (24700180, None),
 (24700179, None),
 (24700178, 245),
 (24700181, None),
 (24700183, None),
 (24700182, None),
 (24700184, 245),
 (24700185, None),
 (24700186, None),
 (24700187, None),
 (24700188, None),
 (24700189, 245),
 (24700190, None),
 (24700191, None),
 (24700192, None),
 (24700193, None),
 (24700194, None),
 (44700211, None),
 (44700212, None),
 (44700213, None),
 (44701011, None),
 (44701012, None),
 (44701021, None),
 (44700214, None),
 (44701022, None),
 (44700215, None),
 (44701013, None),
 (44701023, None),
 (44700216, None),
 (44700217, None),
 (44700221, None),
 (44700222, None),
 (44700411, None),
 (44700412, None),
 (44700413, None),
 (44700414, None),
 (44700415, None),
 (44700416, None),
 (24800001, None),
 (24800003, 245),
 (24800002, None),
 (24800006, None),
 (24800004, None),
 (24800005, None),
 (24800007, None),
 (24800011, None),
 (24800012, None),
 (24800008, None),
 (24800013, None),
 (24800009, 245),
 (24800014, None),
 (24800015, None),
 (24800016, None),
 (24800018, None),
 (24800017, None),
 (24800020, None),
 (24800021, 245),
 (24800023, None),
 (24800022, None),
 (24800019, None),
 (24800024, None),
 (24800026, None),
 (24800030, 245),
 (24800027, None),
 (24800028, None),
 (24800032, None),
 (24800031, None),
 (24800029, None),
 (24800034, None),
 (24800033, None),
 (24800036, None),
 (24800037, None),
 (24800035, None),
 (24800038, None),
 (24800040, None),
 (24800039, None),
 (24800041, None),
 (24800042, None),
 (24800043, None),
 (24800046, None),
 (24800044, None),
 (24800045, None),
 (24800048, 245),
 (24800047, None),
 (24800049, None),
 (24800010, None),
 (24800050, None),
 (24800051, None),
 (24800052, None),
 (24800053, None),
 (24800054, None),
 (24800055, None),
 (24800056, None),
 (24800057, None),
 (24800061, None),
 (24800060, None),
 (24800058, None),
 (24800059, None),
 (24800063, 245),
 (24800062, None),
 (24800064, None),
 (24800065, None),
 (24800066, None),
 (24800067, None),
 (24800068, None),
 (24800069, None),
 (24800070, None),
 (24800071, None),
 (24800072, None),
 (24800074, None),
 (24800076, None),
 (24800073, None),
 (24800075, 245),
 (24800079, None),
 (24800078, None),
 (24800077, None),
 (24800084, None),
 (24800082, 245),
 (24800081, None),
 (24800080, None),
 (24800083, None),
 (24800085, None),
 (24800086, None),
 (24800087, None),
 (24800088, None),
 (24800090, None),
 (24800089, None),
 (24800092, None),
 (24800091, None),
 (24800094, None),
 (24800093, None),
 (24800095, None),
 (24800096, None),
 (24800099, None),
 (24800098, None),
 (24800097, None),
 (24800100, None),
 (24800101, 245),
 (24800102, None),
 (24800103, None),
 (24800104, None),
 (24800106, None),
 (24800105, None),
 (24800109, None),
 (24800108, None),
 (24800107, None),
 (24800110, 245),
 (24800111, None),
 (24800113, None),
 (24800112, None),
 (24800114, None),
 (24800115, None),
 (24800116, None),
 (24800117, None),
 (24800119, None),
 (24800120, 245),
 (24800118, None),
 (24800123, None),
 (24800122, None),
 (24800121, None),
 (24800124, None),
 (24800125, None),
 (24800127, 245),
 (24800126, None),
 (24800129, None),
 (24800128, None),
 (24800130, None),
 (24800132, None),
 (24800134, 245),
 (24800131, None),
 (24800135, None),
 (24800133, None),
 (24800139, None),
 (24800136, None),
 (24800138, None),
 (24800137, None),
 (24800140, None),
 (24800143, None),
 (24800142, None),
 (24800141, None),
 (24800145, None),
 (24800146, None),
 (24800147, None),
 (24800144, None),
 (24800148, None),
 (24800149, 245),
 (24800154, None),
 (24800153, None),
 (24800152, None),
 (24800150, None),
 (24800151, None),
 (24800155, None),
 (24800157, None),
 (24800156, None),
 (24800160, None),
 (24800159, None),
 (24800158, None),
 (24800161, None),
 (24800163, 245),
 (24800162, None),
 (24800164, None),
 (24800165, None),
 (24800166, None),
 (24800167, None),
 (24800173, None),
 (24800170, 245),
 (24800168, None),
 (24800169, None),
 (24800172, None),
 (24800171, None),
 (24800176, None),
 (24800175, None),
 (24800174, None),
 (24800177, None),
 (24800179, None),
 (24800178, None),
 (24800180, None),
 (24800182, None),
 (24800183, None),
 (24800181, None),
 (24800184, None),
 (24800186, None),
 (24800185, None),
 (24800189, None),
 (24800188, None),
 (24800191, None),
 (24800187, None),
 (24800190, 245),
 (24800192, None),
 (24800193, None),
 (24800194, None),
 (24800195, None),
 (24800197, None),
 (24800198, None),
 (24800196, None),
 (24800199, None),
 (24800200, None),
 (24800201, None),
 (24800202, None),
 (24800203, None),
 (24800205, None),
 (24800204, None),
 (24800206, None),
 (24800207, None),
 (24800208, None),
 (24800209, 245),
 (24800210, None),
 (24800213, None),
 (24800211, None),
 (24800212, None),
 (24800215, None),
 (24800214, None),
 (24800216, None),
 (24800217, None),
 (24800219, None),
 (24800220, None),
 (24800218, None),
 (24800221, None),
 (24800222, None),
 (24800225, None),
 (24800223, None),
 (24800224, None),
 (24800226, None),
 (24800230, None),
 (24800229, None),
 (24800227, None),
 (24800228, None),
 (24800231, None),
 (24800232, None),
 (24800234, None),
 (24800233, None),
 (24800235, None),
 (24800236, None),
 (24800237, None),
 (24800238, 245),
 (24800241, None),
 (24800240, None),
 (24800239, None),
 (24800242, None),
 (24800243, None),
 (24800246, 245),
 (24800244, None),
 (24800247, None),
 (24800245, None),
 (24800250, None),
 (24800251, None),
 (24800248, None),
 (24800249, None),
 (24800252, None),
 (24800253, None),
 (24800254, None),
 (24800255, None),
 (24800256, None),
 (24800259, None),
 (24800258, None),
 (24800257, 245),
 (24800261, None),
 (24800262, None),
 (24800260, None),
 (24800263, None),
 (24800264, None),
 (24800267, None),
 (24800265, 245),
 (24800266, None),
 (24800269, None),
 (24800268, None),
 (24800270, None),
 (24800271, None),
 (24800273, None),
 (24800272, None),
 (24800275, None),
 (24800274, None),
 (24800277, None),
 (24800276, None),
 (24800280, None),
 (24800279, None),
 (24800278, None),
 (24800282, None),
 (24800281, None),
 (24800283, 245),
 (24800287, None),
 (24800286, None),
 (24800285, None),
 (24800284, None),
 (24800289, None),
 (24800288, None),
 (24800291, None),
 (24800292, None),
 (24800290, None),
 (24800295, None),
 (24800293, 245),
 (24800294, None),
 (24800297, None),
 (24800298, None),
 (24800296, None),
 (24800299, None),
 (24800300, None),
 (24800304, None),
 (24800302, 245),
 (24800301, None),
 (24800303, None),
 (24800305, None),
 (24800306, None),
 (24800307, None),
 (24800308, None),
 (24800309, None),
 (24800310, None),
 (24800311, 245),
 (24800315, None),
 (24800314, None),
 (24800312, None),
 (24800313, None),
 (24800316, None),
 (24800320, None),
 (24800319, None),
 (24800318, None),
 (24800317, 245),
 (24800322, None),
 (24800321, None),
 (24800323, None),
 (24800324, None),
 (24800325, None),
 (24800329, None),
 (24800327, None),
 (24800328, None),
 (24800326, None),
 (24800330, None),
 (24800331, None),
 (24800332, None),
 (24800333, None),
 (24800335, None),
 (24800337, None),
 (24800339, 245),
 (24800334, None),
 (24800336, None),
 (24800338, None),
 (24800342, None),
 (24800341, None),
 (24800340, None),
 (24800344, None),
 (24800345, None),
 (24800343, None),
 (24800348, 245),
 (24800347, None),
 (24800349, None),
 (24800346, None),
 (24800350, None),
 (24800352, None),
 (24800353, None),
 (24800351, None),
 (24800354, None),
 (24800355, None),
 (24800356, None),
 (24800357, None),
 (24800358, 245),
 (24800360, None),
 (24800361, None),
 (24800359, None),
 (44800221, None),
 (44800231, None),
 (44800241, None),
 (44800211, None),
 (44800222, None),
 (44800242, None),
 (44800232, 245),
 (44800212, None),
 (44800243, None),
 (44800311, None),
 (44800312, None),
 (44800321, 245),
 (44800322, None),
 (44800323, 245),
 (44800411, None),
 (44800412, None),
 (44800413, 245),
 (44800414, 245),
 (44800415, 245),
 (44800416, None),
 (24900003, None),
 (24900005, None),
 (24900007, None),
 (24900006, None),
 (24900004, None),
 (24900010, None),
 (24900008, None),
 (24900009, 245),
 (24900011, None),
 (24900013, None),
 (24900014, None),
 (24900012, None),
 (24900015, None),
 (24900016, None),
 (24900020, 245),
 (24900017, None),
 (24900021, None),
 (24900018, None),
 (24900019, None),
 (24900022, None),
 (24900024, None),
 (24900025, None),
 (24900023, None),
 (24900026, None),
 (24900029, None),
 (24900027, 245),
 (24900028, None),
 (24900031, None),
 (24900033, None),
 (24900034, None),
 (24900032, None),
 (24900030, None),
 (24900040, None),
 (24900039, None),
 (24900041, None),
 (24900038, None),
 (24900035, None),
 (24900037, None),
 (24900036, None),
 (24900042, None),
 (24900047, None),
 (24900049, 245),
 (24900046, None),
 (24900043, None),
 (24900048, None),
 (24900044, None),
 (24900050, None),
 (24900045, None),
 (24900054, None),
 (24900051, None),
 (24900055, None),
 (24900052, None),
 (24900053, None),
 (24900056, None),
 (24900059, None),
 ...]